h1 {
  margin: 20px 0 15px 0;
}

#main {
  width: 600px;
  margin: 0 auto;
  text-align: left;
}

ul {
  list-style: none;
}

ul > li:hover {
  background-color: #f5f5f5;
}

.form-inline .form-control {
  width: 50%;
  margin-left: 80px;
}

.done {
  color: red;
  text-decoration: line-through;
}

.undone {
  color: #61dafb;
}

.icon {
  margin: 6px 10px 6px 0;
}

.todoItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.todoItem .date {
  color: grey;
}
